<div class="observer-sidebar-container">
    <div class="row">
        <div class="col-xs-12 text-center" style="margin-bottom:20px">
            <h2> Current Rankings</h2>
            <h3>Round {{currentRound()}} / {{maxRounds()}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="end-game-data-container" ng-repeat="submission in roundSubmissionData() | orderBy : '-player.points'">
            <div class="row end-game-data-row">
                <div class="col-xs-3 end-game-rank text-right">
                    <span ng-hide="submission.player.rank===''">
                        #{{submission.player.rank}}
                    </span>
                </div>
                <div class="col-xs-3 text-left">
                    <user-profile sizex="60" sizey="60" isbot="getUserFromId(submission.player.uId).isBot" image="getUserFromId(submission.player.uId).
                    image"></user-profile>
                </div>
                <div class="col-xs-8 end-game-name text-left">
                    <div class="flex-1">
                        <section>
                            <b>{{submission.player.name}}</b>
                        </section>
                        <section>
                            {{submission.player.points}} points
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>