<div class="container" id="end-game-container">
    <div class="header clearfix">
        <h1> Game Over </h1>
        <h1> Final Scores </h1>
    </div>
    <div class="row">
        <div class="end-game-data-container" ng-repeat="submission in roundSubmissionData() | orderBy : '-player.points'">
            <div class="row end-game-data-row">
                <div class="col-xs-2 col-xs-offset-2 col-sm-1 col-sm-offset-0 end-game-rank text-right">
                    #{{submission.player.rank}}

                </div>
                <div class="col-xs-2 col-sm-1 text-left">
                    <user-profile sizex="60" sizey="60" isbot="getUserFromId(submission.player.uId).isBot" image="getUserFromId(submission.player.uId).
                    image"></user-profile>
                </div>
                <div class="col-xs-6 col-sm-2 end-game-name text-left">
                    <div class="flex-1">
                        <section>
                            <b>{{submission.player.name}}</b>
                        </section>
                        <section>
                            {{submission.player.points}} points
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bottom-buttons text-center">
                <button id="back-to-start-button" type="button" ng-class="{'btn btn-lg btn-default' : screenWidth<=640, 'btn btn-lg btn-default hvr-float hvr-icon-pulse-grow': screenWidth>640}" ng-click="leaveRoom()">Finish</button>
            </div>
        </div>
    </div>
</div>
