<div class="container">
    <div class="header clearfix">
        <h1>ROOM CODE: {{roomId()}}</h1>
        <h4>OBSERVER LOBBY</h4>
        <div style="margin-top: 30px;" class="flex flex-row">
            <div class="flex1">
                <div>
                    {{getGameParameters().botNumber}} Bots
                </div>
            </div>
            <div class="flex1">
                <div>
                    {{getGameParameters().numRounds}} Rounds
                </div>
            </div>
        </div>
    </div>
    <div id="room-lobby-container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6 text-center" ng-repeat="user in getActiveUsersInRoom()">
                <ng-include src="userPanelTemplate"></ng-include>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="height: 200px; overflow-y: scroll;" scroll="getMessages()">
                    <table>
                        <tr ng-repeat="message in getMessages()" style="padding-bottom: 20px ">
                            <td style="font-weight:bold; margin: 80px; padding-left: 20px; padding-right: 10px; width: 20%"><div ng-hide="message.playerUid === getUserId()" style="right: 0px">{{message.playerName}}</div></td>
                            <td style="width: 500px"><div class="form-control" ng-class="{'float-right': message.playerUid === getUserId(), 'float-left': message.playerUid !== getUserId()};" style="white-space: pre-wrap;white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;  margin-bottom: 5px; height: 100%; ">{{message.messageText}}</div></td>
                            <td style="font-weight:bold; margin: 80px; padding-left: 20px; padding-right: 10px; right: 0; width: 20%"><div ng-show="message.playerUid === getUserId()">{{message.playerName}}</div></td>
                        </tr><br>
                    </table>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h4 ng-show="getRoomUserCount() < 2 && getBotNumber() < 1">You need at least 2 players to start!</h4>
            <h4 ng-show="getRoomUserCount() < 2 && getBotNumber() >= 1">Wow, look at all the friends you have...</h4>
            <h4 ng-hide="getRoomUserCount() < 2">The game will start when everyone is ready </h4>
        </div>
        <div class="row bottom-buttons">
            <div class="col-md-12 text-center">
                <button id="leave-lobby-button" type="button" class="btn btn-lg btn-danger" ng-click="leaveRoom()" >Go Back</button>
            </div>
        </div>
        </div> <!-- /container -->
    </div>