<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 text-center" ng-if="getPlayerRoundResults().length > 0">
			<ng-include src="'includes/templates/observer/observer_current_rankings_template.html'"></ng-include>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="header clearfix">
					<h1 ng-init="startCountdown()">Round {{currentRound()}} / {{maxRounds()}}</h1>
					<h1> {{currentQuestion().text}}</h1>
				</div>
			</div>
			<ng-include src="'includes/templates/user/progressBarObserver.html'"></ng-include>
			<div class="row">
				<h2>Players</h2>
				<div class="row">
					<div class="col-md-3" ng-repeat="user in getActiveUsersInRoom()">
						<ng-include src="'includes/templates/user/userPanelSmallQuestion.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>