<div class="container">
	<div class="header clearfix">
		<h1> {{currentQuestion().text}}</h1>
		<h2>Waiting for everyone to submit</h1>
		<h4 ng-init="startCountdown()">{{ answers().length }} / {{getActiveUsersInRoom().length}} answers submitted</h4>
	</div>
	<ng-include src="'includes/templates/user/progressBar.html'"></ng-include>
	<div class="col-md-3 col-xs-6 text-center" ng-repeat="user in getActiveUsersInRoom()">
		<ng-include src="'includes/templates/user/userPanelSmallQuestion.html'"></ng-include>
	</div>
</div>
