<div class="container">
  <div class="header clearfix">
    <div class="row instructions">
      <div >
        <h1>{{roundQuestion()}}</h1>
        <h3 class="panel-title">Submit your favourite answer to this question</h3>
      </div>
    </div>
  </div>
  <div id="user-hand-container">
    <div class="row">
      <div class="col-md-4 text-center" ng-repeat="answer in userHand()">
        <div class="panel panel-default white-card">
          <div class="panel-body">
            {{answer}}
            <div class="submit-ans-button">
              <button class="btn btn-primary" ng-model="answer" ng-click="submitAnswer(answer)">Select</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
