<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Narrow Jumbotron Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Clonage</h1>
      <p class="lead">Play with your friends on phone or computer! Crazy games for all the family to enjoy!</p>
    </div>
    <div class="container">
      <div class="header clearfix">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-5 col-md-4 col-md-offset-4">
          <p><a class="btn btn-lg btn-success" href="set_name_test.html" role="button" style="margin: 20px;">Get Started</a></p>
        </div>
      </div>
    </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>No Setup Needed</h4>
        <p>Simply go to the Clonage site on your device of choice and join a room, no App or Installation required.</p>
        <h4>Invite Your Friends</h4>
        <p>Choose to create a new room, and share the room code with your friends to let them join! Join someone else's room using their room code.</p>
      </div>
      <div class="col-lg-6">
        <h4>No Connection, No Problem!</h4>
        <p>If you lose connection or accidently refresh the page, no need to worry. AS soon as you connect again you'll be put right back into the action where you left off!</p>
        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
      </div>
    </div>
    </div> <!-- /container -->
  </body>
</html>
