<div class="container">
  <div class="header clearfix">
    <div class="row instructions">
      <div>
        <h1>ROOM CODE: {{roomId()}}</h1>
        <p>Give this code to others you want to join this room.</p>
      </div>
    </div>
  </div>
  <div id="room-lobby-container">
    <div class="row">
      <div class="col-md-6 text-center" ng-repeat="user in getUsersInRoom()">
        <div class="panel panel-default">
          <div class="panel-body">
            {{user.username}}
            <span ng-if="user.uId === getUserId()" class="glyphicon glyphicon-user" aria-hidden="true" style="padding-left: 20px"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-lg btn-primary" ng-click="startGame()" ng-disabled="getRoomUserCount() < 2">Start Game</button>
      </div>
    </div>
    <div class="row text-center">
      <span ng-show="getRoomUserCount() < 2">You need at least 2 players to start!</span>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-lg btn-danger" ng-click="leaveRoom()" >Go Back</button>
      </div>
    </div>
  </div>
  </div> <!-- /container -->
</div>
