<div class="container">
	<div class="header clearfix">
		<div class="row instructions">
			<div >
				<h1>Choose your favourite answer</h1>
				<p>{{roundQuestion()}}</p>
			</div>
		</div>
	</div>
	<div class="row signup-container" id="question-responses-container">
		<div class="row">
			<form name="VoteAnswerForm" ng-submit="submitVote(enteredAnswer)">
				<div class="col-md-4 text-center" ng-repeat="answer in answers()">
					<div class="panel panel-default white-card">
						<div class="panel-body">
							{{answer.ans}}
							<div class="submit-ans-button">
								<button class="btn btn-warning" type="button" ng-click="$parent.enteredAnswer = answer.ans">Favourite</button>
							</div>
						</div>
					</div>
				</div>
				<button type="submit">Submit Vote</button>
			</form>
		</div>
		<br/><input type="submit" ng-click="leaveRoom()" value="Quit Game">
		<br/><input type="submit" ng-click="finishGame()" value="Finish Game">
	</div> <!-- /container -->
</div>
