<div class="container">
	<div class="header clearfix">
		<div class="row instructions">
			<div >
				<h1>Choose your favourite answer</h1>
				<p>{{roundQuestion()}}</p>
			</div>
		</div>
	</div>
	<div class="row signup-container" id="question-responses-container">
		<div class="row">
			<div class="col-md-4 text-center" ng-repeat="answer in answers()">
				<div class="panel panel-default white-card">
					<div class="panel-body">
						{{answer.answerText}}
						<div ng-if="getUserId() === answer.playerId"->Your answer</div>
						<div class="submit-ans-button" ng-hide="getUserId() === answer.playerId">
							<button class="btn btn-warning" ng-model="answer" ng-click="submitVote(answer.answerText)">Favourite</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/><input type="submit" ng-click="leaveRoom()" value="Quit Game">
		<br/><input type="submit" ng-click="finishGame()" value="Finish Game">
	</div> <!-- /container -->
</div>
