<div class="container">
    <div id="end-game-container" class="text-center">
        <div class="row">
            <h2> Game Over </h2>
            <h3> Final Scores </h3>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
            <tr ng-repeat="result in getPlayerRoundResults() | orderBy:'-player.points'">
                <td>{{result.player.name}}</td>
                <td>{{result.player.points}}</td>
            </tr>
        </table>
        <button id="back-to-start-button" type="button" class="btn btn-lg btn-primary" ng-click="leaveRoom()">Finish</button>
    </div>
</div>