<div class="container">
    <div class="header clearfix">
        <div id="roundQuestion">
            <h2 animate-on-change="filledInQuestion()">{{filledInQuestion()}}</h2>
            <h4>Submit your favourite answer.</h4>
            <h4 id="amount-to-submit">Pick {{currentQuestion().pick}}.</h4>
        </div>
    </div>
    <div id="user-hand-container">
        <div class="row">
            <div class="col-md-12 text-center" ng-repeat="answer in userHand()" data-ng-init="startCountdown()">
                <div class="card-text-container">
                    <button class="btn btn-primary btn-lg btn-block card-text-button" type="button" id="answer" ng-click="submitAnswer(answer); selected = !selected;" ng-class="{'btn-info':selected}">{{answer}}
                    <span class="pull-right" ng-show="selected">{{answerPosition(answer)}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="progress">
        <div id="countdown" ng-class="counter>15 ? 'progress-bar progress-bar-striped active' : ( counter>5 ? 'progress-bar progress-bar-warning progress-bar-striped active' : 'progress-bar progress-bar-danger progress-bar-striped active' ) " style="width: {{counter*1.66}}%;">
            <p ng-bind="counter"></p>
        </div>
    </div>
    <div class="col-md-3 col-xs-6 text-center" ng-repeat="user in getUsersInRoom()">
        <ng-include src="'includes/templates/user/userPanelSmallQuestion.html'"></ng-include>
    </div>
</div>
