<div class="container">
    <div class="header clearfix">
        <div id="roundQuestion">
            <h2>{{roundQuestionText()}}</h2>
            <h4>Submit your favourite answer.</h4>
            <h4>Pick {{currentQuestionBlanks()}}.</h4>
        </div>
    </div>
    <div id="user-hand-container">
        <div class="row">
            <div class="col-md-12 text-center" ng-repeat="answer in userHand()">
                <div class="card-text-container">
                    <button class="btn btn-primary btn-lg btn-block card-text-button" type="button" id="answer" ng-click="submitAnswer(answer); selected = true;">{{answer}}
                    <span class="pull-right" ng-show="selected">{{answerPosition(answer)}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>