<div class="container">
    <div class="header clearfix">
        <div class="row instructions" data-ng-init="startCountdown('vote')">
            <div>
                <h2>{{roundQuestion()}}</h2>
                <h5>Vote for your favourite answer to this question</h5>
            </div>
        </div>
    </div>
    <div id="question-responses-container">
        <div class="row">
            <div class="col-md-12 text-center" ng-repeat="answer in answers() | orderBy:'answerText'">
                <div class="card-text-container">
                    <button ng-if="getUserId() === answer.playerId" class="btn btn-warning btn-lg btn-block card-text-button" type="button" id="ownAnswer" ng-disabled="true"> {{answer.answerText}} <i>(Your answer)</i></button>
                    <button ng-if="getUserId() !== answer.playerId" class="btn btn-warning btn-lg btn-block answerButton" type="button" id="answer" ng-click="submitVote(answer.answerText)" ng-disabled="getUserId() === answer.playerId">{{answer.answerText}}</button>
                    </button>
                </div>
            </div>
        </div>
    </div>
     <p ng-bind="counter"></p>
                   <div class="progress progress-striped active"> <div class="bar" style="width: {{counter}}%;"></div> </div>
</div>