<div class="container" ng-init="retainCountdownValue()">
    <div class="header clearfix">
        <h2>Waiting for other players to submit choices</h1>
        <h4 ng-init="startCountdown()">{{ answers().length }} / {{getUsersInRoom().length}} answers submitted</h4>
    </div>

    <div class="progress"> <div ng-class="counter>5 ? 'progress-bar progress-bar-striped active' : 'progress-bar progress-bar-danger progress-bar-striped active'" style="width: {{counter*3.33}}%;"><p ng-bind="counter"></p></div> </div>
</div>