<div class="container" ng-init="retainCountdownValue()">
    <div class="header clearfix">
        <h2>Waiting for other players to vote</h1>
        <h4 ng-init="startCountdown()">{{ currentVotes() }} / {{getUsersInRoom().length}} votes cast</h4>
    </div>
    <ng-include src="'includes/templates/user/progressBar.html'"></ng-include>
    <div class="col-md-3 text-center" ng-repeat="user in getUsersInRoom()">
        <ng-include src="'includes/templates/user/userPanelSmallVoted.html'"></ng-include>
    </div>
</div>
