<div class="container">
	<div class="header clearfix">
		<h1>Your submission</h1>
		<h4 ng-bind-html="bindHtml(filledInQuestion())"><h4>
	</div>
	<div class ="row">
		<div class="col-md-12 text-center">
			<h4>Waiting for other players to submit choices</h4>
			<p>{{ answers().length }} / {{getActiveUsersInRoom().length}} answers submitted</p>
		</div>
	</div>
	<ng-include src="'includes/templates/user/progressBar.html'"></ng-include>
	<div class="col-md-3 col-xs-4 text-center" ng-repeat="user in getActiveUsersInRoom()">
		<ng-include src="'includes/templates/user/userPanelSmallQuestion.html'"></ng-include>
	</div>
</div>
