<div class="container" ng-init="retainCountdownValue()">
    <div class="header clearfix">
        <h4>Waiting for other players to vote</h4>
        <p ng-init="startCountdown()">{{ currentVotes() }} / {{getUsersInRoom().length}} votes cast</p>
    </div>
    <ng-include src="'includes/templates/user/progressBar.html'"></ng-include>
    <div class="col-md-3 col-sm-4 col-xs-6 text-center" ng-repeat="user in getUsersInRoom()">
        <ng-include src="'includes/templates/user/userPanelSmallVoted.html'"></ng-include>
    </div>
</div>
