<div class="container" ng-init="retainCountdownValue()">
	<div class="header clearfix">
		<h2>Waiting for other players to submit choices</h1>
		<h4 ng-init="startCountdown()">{{ answers().length }} / {{getUsersInRoom().length}} answers submitted</h4>
	</div>
	<div class ="row">
		<div class="col-md-12 text-center">
			<h3>Your submission :<h4>
			<h4>{{filledInQuestion()}}<h4>
		</div>
	</div>
	<div class="progress"> <div id="countdown" ng-class="counter>15 ? 'progress-bar progress-bar-striped active' : ( counter>5 ? 'progress-bar progress-bar-warning progress-bar-striped active' : 'progress-bar progress-bar-danger progress-bar-striped active' ) " style="width: {{counter*3.33}}%;"> <p ng-bind="counter"></p></div> </div>
	<div class="col-md-3 text-center" ng-repeat="user in getUsersInRoom()">
		<ng-include src="'includes/templates/user/userPanelSmallQuestion.html'"></ng-include>
	</div>
</div>
