<div id="room-join-container" class="namestuff">
    <h2>Hi {{getUserName()}}!</h2>

    <p>Choose to either join an exisiting room, or create your own for friends to join! </p>

    <button id="create-room-button" ng-click="createRoom()">Create Room</button><br><br>

    <form name="roomSubmissionForm" ng-submit="joinRoom(roomSubmissionForm)">
    <input id="room-input-box" placeholder="Enter room id" ng-model="roomSubmissionForm.enteredRoomId">
    <button id="room-join-button" type="submit">Join Room</button>
    <h3 ng-show="roomErrorMessage()"> {{roomErrorMessage()}}</h3>
    </form>

    <input type="submit" value="Go back">

</div>
