<div class="jumbotron">
  <div class="lead">
    <h1>Clonage</h1>
    <p>Room Lobby</p>
  </div>
  <p class="username">{{getUserName()}}</p>
</div>
<div class="container">
  <div class="header clearfix">
    <div class="row instructions">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1>ROOM CODE: {{roomId()}}</h1>
        <p>Give this code to others you want to join this room.</p>
      </div>
    </div>
  </div>
  <div id="room-lobby-container">
    <div class="row">
      <div class="col-md-6 text-center" ng-repeat="user in getUsersInRoom()">
        <div class="panel panel-default">
          <div class="panel-body">
            {{user.username}}
            <span ng-if="user.uId === getUserId()" class="glyphicon glyphicon-user" aria-hidden="true" style="padding-left: 20px"></span>
          </div>
        </div>
      </div>
      <!--  <li  ng-repeat="user in getUsersInRoom()">
        <p>{{user.username}}</p>
      </li> -->
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-lg btn-primary" ng-click="startGame()">Start Game</button>
      </div>
    </div>
  </div>
  </div> <!-- /container -->
</div>
