<div class="jumbotron">
  <div class="lead">
    <h1>Clonage</h1>
    <p>Set Name</p>
  </div>
</div>
<div class="container">
  <div class="header clearfix">
    <div class="row instructions">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <h1>What's your name?</h1>
        <p>This is will be your name for others to see during the game.</p>
        <a href="join_create_room_test.html">Next Page TESTING </a>
      </div>
    </div>
  </div>
  <div>
  </div>
  <div class="row signup-container" id="signup-container">
    <div>
      <form class="form-horizontal" ng-submit="submitName(nameSubmissionForm)">
        <div class="row">
          <div class="input-group col-md-offset-3 col-md-6 col-xs-4 col-xs-offset-4" >
            <input type="text" class="form-control" id="name-input-box" placeholder="Your Name" ng-model="nameSubmissionForm.enteredName" autofocus>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4" style="margin-top: 10px">
            <div class="">
              <button type="submit" id="name-submit-button" class="btn btn-lg btn-primary">Set Name</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<footer class="footer">
  <p>&copy; <a href="https://matteroffactsblog.files.wordpress.com/2013/08/despicable_me_2_minions-1920x1080.jpg" target="_blank">SITE BY  :  [ { Ben }, { Georgiana }, { James } ]</a></p>
</footer>
</div> <!-- /container -->
