<!--THE REAL GAME STUFF -->
<div class="animate-switch">
	<div id="game-lobby-container" class="namestuff">
	<h5>Vote for your favourite answer:</h5>
		<h2>{{roundQuestion()}} <h2>
		<h3>
			<form name="VoteAnswerForm" ng-submit="submitVote(enteredAnswer)">
				<div ng-repeat="answer in answers()" >
					<label><input type="radio" ng-model="$parent.enteredAnswer" value="{{answer.ans}}"> {{answer.ans}}</label><br>
				</div>
				<br>
				<button type="submit">Submit Vote</button>
			</form>
		</h3>
	</div>
</div>