<div class="row chat-window col-md-4" id="chat_window_1" style="right:10px">
        <div class="panel panel-default">
            <div class="panel-heading" id="accordion">
                <span class="glyphicon glyphicon-comment"></span> Chat
                <div class="btn-group pull-right">
                    <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body msg_container_base" style="overflow-y: scroll;" scroll="getMessages()">
                    <ul>
                        <li ng-repeat="message in getMessages()" ng-class="{'row msg_container base_sent': message.playerUid === getUserId(), 'row msg_container base_receive': message.playerUid !== getUserId()};">

                                <div ng-if="message.playerUid !== getUserId()" class="col-md-2 col-xs-2 avatar">
                                    <user-profile class="flex1" sizex="60" sizey="60" image=message.playerImage></user-profile>
                                </div>
                                <div class="col-md-10 col-xs-10">
                                    <div  ng-class="{'messages msg_sent': message.playerUid === getUserId(), 'messages msg_receive': message.playerUid !== getUserId()};">
                                        <div style="width: 400px"><p style="white-space: pre-wrap;white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; ">{{message.messageText}}</p>
                                        <time>{{message.playerName}}</time>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="message.playerUid === getUserId()" class="col-md-2 col-xs-2 avatar">
                                    <user-profile class="flex1" sizex="60" sizey="60" image=message.playerImage></user-profile>
                                </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form name="message-form" ng-submit="sendMessage(messageText)">
                        <div class="input-group">
                            <input id="message-box" type="text" class="form-control input-sm" placeholder="Type your message" ng-model="messageText" autofocus required/>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" id="submit-message" > Send</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>