<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading" id="accordion">
                <span class="glyphicon glyphicon-comment"></span> Chat
                <div class="btn-group pull-right">
                    <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </div>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body" style="overflow-y: scroll;" scroll="getMessages()">
                    <ul class="chat">
                        <li ng-repeat="message in getMessages()">
                            <div ng-class="{'right clearfix': message.playerUid === getUserId(), 'left clearfix': message.playerUid !== getUserId()};">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{message.playerName}}</strong>
                                    </div>
                                    <div style="width: 400px"><p style="white-space: pre-wrap;white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; ">{{message.messageText}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form name="message-form" ng-submit="sendMessage(messageText)">
                        <div class="input-group">
                            <input id="message-box" type="text" class="form-control input-sm" placeholder="Type your message" ng-model="messageText" autofocus required/>
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" id="submit-message" > Send</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>