<div class="container">
    <div class="header clearfix">
        <div class="row instructions">
            <div >
                <h1>Who are you?</h1>
                <p>Enter your name and draw your avatar!</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6  text-center"  style="margin-bottom: 20px;">
            <button type="button" id="choose-player-button" class="btn btn-lg btn-primary" ng-click="isNotObserver = true" ng-hide="(isNotObserver === true)">
            Join as player
            </button>
        </div>
        <div class="col-md-6  text-center">
            <button type="submit" id="choose-observer-button" class="btn btn-lg btn-primary" ng-hide="(isNotObserver===true)" ng-click="registerAsObserver()">Join as observer</button>
        </div>
    </div>
    <div class="row signup-container" id="signup-container">
        <form class="form-horizontal" ng-submit="submitName(nameSubmissionForm)" ng-show="(isNotObserver === true)">
            <div class="row">
                <user-drawing control="joinCanvasControl" ></user-drawing>
            </div>
            <div class="row"  style="margin-top: 20px;">
                <div class="input-group col-md-offset-3 col-md-6 col-xs-4 col-xs-offset-4" >
                    <input type="text" class="form-control" id="name-input-box" placeholder="Your Name" ng-model="nameSubmissionForm.enteredName" autofocus required novalidate>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 10px">
                    <div class="">
                        <button type="submit" id="name-submit-button" class="btn btn-lg btn-primary">Set Name</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
