<div class="container">
    <div class="header clearfix">
        <h2>What's your name?</h2>
        <h4>This is will be your name for others to see during the game.</h4>
    </div>
    <div class="row signup-container" id="signup-container">
        <form class="form-horizontal" ng-submit="submitName(nameSubmissionForm)">
            <div class="row">
                <div class="input-group col-sm-4 col-sm-offset-4  col-xs-6 col-xs-offset-3" >
                    <input type="text" class="form-control" id="name-input-box" placeholder="Your Name" ng-model="nameSubmissionForm.enteredName" autofocus required novalidate>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 10px">
                    <div class="">
                        <button type="submit" id="name-submit-button" class="btn btn-lg btn-primary">Set Name</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>