/* Space out content a bit */
body, html {
  position: relative;
  padding-bottom: 20px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

/* Custom page header */
.sidebar-header {
  padding-bottom: 20px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.sidebar {
  -moz-transition: left .2s;
  -webkit-transition: left .2s;
  -o-transition: left .2s;
  transition: left .2s;
  position: absolute;
  background-color: white;
  color: black;
  text-align: center;
/*  border-bottom: 1px solid #e5e5e5;*/
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  width: 200px;
  left: -300px;
  font-size: 120%;
  z-index: 9999;
}

.sidebar-item {
  border-radius: 0px;
  border-right: none;
  border-left: none;
}

.sidebar-list {
  margin-bottom: 0px;
}

.slide-out {
    -moz-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
    left: 0px;
}

/* Custom page footer */
.footer {
  /*position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);*/
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;

  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.wrapper {
  min-height: 100%;
  width:100%;
  margin-bottom: 60px;
}

/* Main marketing message and sign up button */
.jumbotron {
  color:white;
  position: relative;
  margin-bottom: 0px;
  height: 200px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(0,0,0,0.65)),color-stop(40%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))), url('/../../includes/images/background.jpg'); /* Chrome,Safari4+ */
  /*background: url('/../../includes/images/background.jpg');*/
  background-color: #1976D2; /* blue background color incase background image cannot be loaded*/
  background-attachment: fixed;
  background-position: 50% -500px;
  background-size: cover;
  padding-left: 3%;
  padding-top: 20px
}

.jumbotron .lead {
  float: left;
  text-align: left;
}

.jumbotron .username {
  margin-right: 3%;
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 10px;
}

.jumbotron .current-round {
  margin-right: 3%;
  font-size: 25px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 40px;
}

.jumbotron .menu-button {
  margin-left: 3%;
  bottom: 0px;
  left: 0px;
  border: none;
  background: transparent;
  position: absolute;
  font-size: 40px;
  outline: none;
}

.jumbotron .rank {
  margin-left: 7%;
  font-size: 35px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}

.jumbotron h1 {
  float: left;
  font-size: 90px;
}

.white-card {
  position: relative;
  min-height: 150px;
  font-size: 17px;
}

.name-submit-container {
  margin-top: 30px;
  margin-bottom: 100px;
}

.bottom-buttons {
  text-align: center;
  margin-top: 60px;
}

.card-text-container {
  margin-bottom: 20px;
}

/*used to let text wrap on buttons for smaller screens*/
.card-text-button {
  white-space: normal;
}

.table th {
  text-align: center;
}

/* Center the fabric container in the page */
.canvas-container {
  margin: 0 auto;
}
.table td {
  text-align: center;
}

.player-ready {
  color:#ffffff;
  background-color: #5cb85c;
}


@media only screen and (max-device-width: 480px) {
  /* Main marketing message and sign up button */
    .jumbotron {
      height: 150px;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
      text-align: center;
      padding: 0px 0px 0px 10px;
    }
    .jumbotron h1 {
      font-size: 50px;
    }

    .jumbotron .rank {
      margin-left: 16%
    }
}

/* ANIMATIONS
============================================================================= */

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); transform : scale(0.8);}
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes fadeIn {
    from  {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity:1;}
    to {opacity: 0;}
}

/*.ng-enter           { animation: fadeIn 0.2s both ease-in;}
.ng-leave           { animation: fadeOut 0.2s both ease-in;}*/
