<div class="container">
    <div class="header clearfix">
        <h1>Enter a Room</h1>
        <h3>Create a room or join an existing one</h3>
    </div>
    <div class="row" id="room-join-container" ng-if="!getIfObserver()">
        <div class="col-md-4  text-center" style="margin-bottom: 30px;">
            <button type="button" ng-class="{'btn btn-lg btn-primary': ios()===true, 'btn btn-lg btn-primary hvr-buzz': ios()!==true}" id="create-room-button" ng-click="createRoom()">Create New Room</button>
        </div>
        <div class="col-md-8 text-center">
            <h4>Join Existing Room :</h4>
            <h4 ng-if="allRoomsAvailable().length <= 0">There are currently no rooms available. Please create a room</h4>
            <div class="col-md-6  col-sm-6 col-xs-12 text-center"  ng-repeat="room in allRoomsAvailable()">
                <ng-include src="'includes/templates/user/roomJoinPanel.html'"></ng-include>
            </div>
        </div>
    </div>
    <!-- show a list of all rooms if the observer -->
    <div class="row" id="room-join-container" ng-if="getIfObserver()">
        <div class="col-md-12 text-center">
            <h4 ng-if="allRoomsAvailable().length <= 0">There are currently no rooms available. Please convince your friends to create a room.</h4>
            <div class="col-md-4  col-sm-4 col-xs-12 text-center"  ng-repeat="room in allRoomsAvailable()">
                <ng-include src="'includes/templates/observer/roomOverviewPanel.html'"></ng-include>
            </div>
        </div>
    </div>
</div>