<div class="container">
    <div class="header clearfix">
        <h1>ROOM CODE: {{roomId()}}</h1>
        <h4>Give this code to others you want to join this room.</h4>
    </div>
    <div id="room-lobby-container">
        <div class="row">
            <div class="col-md-6 text-center" ng-repeat="user in getUsersInRoom()">
                <div id="user-panel" class="panel panel-default" ng-class="{'player-ready':user.readyToProceed}">
                    <div class="panel-body">
                         <user-profile control="user.canvasControl" ></user-profile>
                        {{user.name}}
                        <span ng-if="user.uId === getUserId()" class="glyphicon glyphicon-user" aria-hidden="true" style="padding-left: 20px"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="ready-button" type="button" class="btn btn-lg btn-primary" ng-click="sendReadyStatus(botsStatus); roomReadyToggle=(!roomReadyToggle);" ng-class="{'btn-danger':roomReadyToggle}" ng-disabled="getRoomUserCount() < 2">{{ roomReadyToggle ? 'Not Ready' : 'Ready' }}</button>
            </div>
        </div>
        <div class="row text-center">
            <h4> ({{getBotNumber()}} addition users = {{getBotNumber()}}x the fun!) </h4>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="set-bot-dropdown">
                Set number of Bots <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a "setBotNumber(0)">None</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="setBotNumber(1)">1</a></li>
                    <li><a ng-click="setBotNumber(2)">2</a></li>
                    <li><a ng-click="setBotNumber(3)">3</a></li>
                    <li><a ng-click="setBotNumber(4)">4</a></li>
                    <li><a ng-click="setBotNumber(5)">5</a></li>
                    <li><a ng-click="setBotNumber(6)">6</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <h4 ng-show="getRoomUserCount() < 2">You need at least 2 players to start!</h4>
            <h4 ng-hide="getRoomUserCount() < 2">The game will start when everyone is ready </h4>
        </div>
        <div class="row bottom-buttons">
            <div class="col-md-12 text-center">
                <button id="leave-lobby-button" type="button" class="btn btn-lg btn-danger" ng-click="leaveRoom()" >Go Back</button>
            </div>
        </div>
    </div>
    </div> <!-- /container -->
</div>
